body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.loading-wrapper {
  display: inline-block;
}